body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

#map {
  height: 90vh !important;
  z-index: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

form {
  display: flex;
  flex-direction: row;
  z-index: 2;
  touch-action: none;
}

form input {
  font-size: 12px;
  height: 50px;
  width: 235px;
  border: none;
  padding-left: 20px;
  color: hsl(0, 0%, 17%);
  font-weight: 700;
}

@media only screen and (min-width: 1440px) {
  form input {
    width: 400px;
    font-size: 18px;
    font-weight: 400;
  }
}

.result-table {
  display: none;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  border: solid white;
  background-color: white;
  width: 263px;
  border-radius: 20px;
  top: 140px;
  height: auto;
  position: absolute;
  color: hsl(0, 0%, 59%);
  font-weight: bold;
  font-size: 11px;
  padding: 20px;
  z-index: 3;
  margin-top: 30px;
  touch-action: none;
}

.result-table div {
  padding: 5px;
}

@media only screen and (min-width: 1440px) {
  .result-table {
    width: 900px;
    height: auto;
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    font-size: 12px;
    align-items: start;
    text-align: left;
  }

  .result-table div {
    padding-left: 20px;
  }

  .ip-result,
  .location-result,
  .timezone-result,
  .isp-result {
    padding-top: 10px;
  }

  .location:after,
  .timezone:after,
  .isp:after {
    content: "";
    height: 60px;
    width: 0.5px;
    position: absolute;
    top: 50px;
    background-color: #e6e6e6;
  }

  .user-submit:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 17%);
  }
}

.result-title {
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.ip-result,
.location-result,
.timezone-result,
.isp-result {
  color: hsl(0, 0%, 17%);
  font-size: 18px;
}

@media only screen and (min-width: 1440px) {
  .ip-result,
  .location-result,
  .timezone-result,
  .isp-result {
    font-size: 22px;
    font-weight: 700;
  }
}

.app-bg {
  content: url("/images/pattern-bg-mobile.png");
  z-index: 2;
  position: absolute;
  height: 300px;
  background-repeat: repeat;
  touch-action: none;
}

@media only screen and (min-width: 400px) {
  .app-bg {
    content: url("/images/pattern-bg-desktop.png");
  }
}

@media only screen and (min-width: 1440px) {
  .app-bg {
    content: url("/images/pattern-bg-desktop.png");
    width: 100vw;
  }
}

h1 {
  text-align: center;
  color: white;
  font-weight: 400;
  z-index: 2;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  touch-action: none;
}

@media only screen and (max-width: 250px) {
  h1 {
    font-size: 20px;
  }
}

#ip-tracker-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input {
  border-radius: 10px;
}

.user-submit {
  background-image: url("/images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  width: 50px;
  height: 52px;
  margin-left: -8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
