#map {
  height: 180px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.resultTable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
